<div>
    <p>name of post</p>
    <textarea id="name">{{name}}</textarea>
</div>
<div>
    <p>description of post</p>
    <textarea id="description">{{description}}</textarea>
</div>
<div>
    <button class="update-button" data-id="{{id}}">UPDATE</button>
</div>

<script src="/js/update.js"></script>