<div class="container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="name" class="form-label">Name of Post</label>
        <textarea class="form-control" id="name" rows="1">{{name}}</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="description" class="form-label">Description of Post</label>
        <textarea class="form-control" id="description" rows="3">{{description}}</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary update-button" data-id="{{id}}">Update</button>
    </div>
  </div>
</div>
<script src="/js/update.js"></script>