<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Tech Blog</h1>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <p></p>
    </div>
  </div>
  {{#each posts as |post|}}
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title"><a href="/post/{{post.id}}">{{post.name}}</a></h3>
          <h5 class="card-text">{{post.description}}</h5>
          <h5 class="card-text"><small class="text-muted">{{format_date post.date_created}}</small></h5>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>